/*div for main contain of addsCourse page*/
#addCourse {
 
    font-size:xx-large;
}

/*designing the button for adding student. */
#PageBtns {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #240D24;
  border: none;
  border-radius: 15px;
}
/*effect for btns in course page*/
#PageBtns:hover{background-color:chocolate}
