#AddCourseul {
  list-style-type: none;
  border-color:#240D24;
  padding-right:25px;
  text-decoration:wavy;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow:unset;
  
}
 
AddCourseul li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  background:round;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    text-transform:uppercase;
    font-size:xx-large;
    padding-left:20px;
   
}
 
AddCourseul li:last-child {
  border: none;
}
 
AddCourseul li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
AddCourseul li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
#paddingTable {
    padding-left:10px;
    padding-right:10px;
}
