/*div for main contain of addstudent page*/
#addCourse {
    padding-left:10px;
    font-size:xx-large;
    width:980px;

}

#addCourse ul li
{
  list-style-type: none;
}

#addCourseTable td {
    width:380px;
    text-align:right;
    padding-bottom:10px;
    padding-top:10px;  
}
/*designing the button for adding student. */
.BtnaddCoursePage {
  display: inline-block;
  padding: 25px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #240D24;
  border: none;
  border-radius: 15px;
  width:195px;
  
}

.BtnaddCoursePage:hover{background-color:chocolate}

.BtnaddCoursePage:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#BtnDivforAddCourse {
    width:450px;
    margin-left:auto;
    margin-right:98px;
}
