table td {
    height: 20px;
    width: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}
/* for positioning table */
table {
    position: center;
}
/*div where table is placed */
/*#TableDiv
 {
    width: 980px;
    margin-right: auto
    padding-left: 12px;
    padding-right:12px;
}*/
#bannerForMaPage
 {
    width:980px;
}
/*customized head of h1*/
h1 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bookman Old Style';
    color:coral;
}
/*Desing for banner *//**/
#banner{
            width: 980px;
            height: 100px;
       }
/*special effect for hr*/
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:groove;
    border-width: 2px;
    color:red;
}
h3 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    text-transform:fullsize-kana;
    font-family: 'Bookman Old Style';
    color:gray;
}
/*designing the button for adding student. */
#PageBtns {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #240D24;
  border: none;
  border-radius: 15px;
}

#PageBtns:hover{background-color:chocolate}

#PageBtns:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*Created class to be accessed by asp tags*/
.PageBtns {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #240D24;
  border: none;
  border-radius: 15px;
}

.PageBtns:hover{background-color:chocolate}

.PageBtns:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}