table td {
    height: 20px;
    width: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}
/* for positioning table */
table {
    position: center;
}
/*div where table is placed */
#TableDiv {
    width: 980px;
    margin-right: auto;
    margin-right: auto;
    position: center;
    padding-left: 12px;
    padding-right:12px;
}
/*customized head of h1*/
h1 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bookman Old Style';
    color: chocolate;
}
/*Desing for banner *//**/
#banner{
            width: 980px;
            height: 100px;
       }
/*special effect for hr*/
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:groove;
    border-width: 2px;
    color:red;
}
