/* 
    stylesheet for the masterpage
*/
body
 {
    background-color:gray;
}
/*
    Customizing the dive content
*/
#allpage
 {
    margin-left:auto;
    margin-right:auto;
    width:980px;
    background-color:azure;
    border-radius: 15px;
    
}
/*
    diffent look for Footer
*/
footer {
	background-color:burlywood;
	color:firebrick;
	font-size: large;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
    opacity:0.9;
}
#bannerForMaPage
 {
    width:980px;
}

#PageBtns {
    background-color: #240D24;
}
#BtnsforCourseAdd {
    background-color: #240D24;
}
#PageBtnsForCourseAdd {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #240D24;
  border: none;
  border-radius: 15px;
}
/*effect for btns in course page*/
#PageBtnsForCourseAdd:hover{background-color:chocolate}