/*div for main contain of update page*/
#UpdateStudent {
    padding-left:10px;
    font-size:xx-large;

}

/*adding width for the table col*/
#UpdateStudentTable td {
    width:380px;
    text-align:right;
    padding-bottom:10px;
    padding-top:10px;  
}
/*designing the button for adding student. */
.BtnUpdateStudent {
  display: inline-block;
  padding: 25px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #240D24;
  border: none;
  border-radius: 15px;
  width:200px;
  
}

.BtnUpdateStudent:hover{background-color:chocolate}

.BtnUpdateStudent:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#BtnUpdateDiv {
    width:450px;
    margin-left:auto;
    margin-right:100px;
}
